 <div id="bussiness-card"></div>
      <div class="row b-card col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="business-name">{{name}}</h3>
            <p class="card-text"></p>{{city}}</p>
          </div>
        </div>
      </div>