<div class="footer border-bottom-0 fixed-botom">             

      <div class="container col-md-10">
            <div class="row">
                  <div class="col">
                        <a class="foot-link" href="/about">About Uplift</a>
                  </div>
                  <div class="col">
                        <a class="foot-link" href="/">Uplift</a>
                  </div>
                  <div class="col">
                        <p class="foot-link"><a href="https://www.facebook.com/Uplift-113861503702121"><i class="fab fa-facebook-f foot-link"></i></a><a href="https://www.instagram.com/projectupliftseattle/"><i class="fab fa-instagram foot-link"></i></a><a href="https://twitter.com/UpliftProject1"><i class="fab fa-twitter foot-link" href="https://twitter.com/home"></i><a></a></p>
                  </div>
            </div>
      </div>
</div>

