<div class="footer border-bottom-0 fixed-botom">             

      <div class="container col-md-10">
            <div class="row">
                  <div class="col">
                        <a class="foot-link" href="/about">About Uplift</a>
                  </div>
                  <div class="col">
                        <a class="foot-link" href="/">Uplift</a>
                  </div>
                  <div class="col">
                        <p class="foot-link"><i class="fab fa-facebook-f" href="https://www.facebook.com/Uplift-113861503702121"></i><i class="fab fa-instagram" href="https://www.instagram.com/projectupliftseattle/"></i><i class="fab fa-twitter" href="https://twitter.com/home"></i></p>
                  </div>
            </div>
      </div>
</div>

