<div class="footer border-bottom-0 fixed-botom">
      <div>
      
            <p> About Uplift </p>
            


      </div>

       <div>
      
            <p> Follow us on Social Media </p>

      </div>
      



      <p>Uplift</p>
</div>