<!-- Navbar -->
<nav class="navbar navbar-expand-lg shadow">
  <a class="navbar-brand" href="#">
    Uplift
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/" id="home">
          Home
          <span class="sr-only">
            (current)
          </span>
        </a>
      </li>
      <li class="nav-item">
        <p class="nav-link">|</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news" id="News" tabindex="1">
          News & Events
        </a>
      </li>
      <li class="nav-item">
        <p class="nav-link">|</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/charity" id="NonP" tabindex="1">
          Non Profits
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login" id="loginSignUp" tabindex="1">
          Login / Sign Up
        </a>
      </li>
    </ul>
  </div>
</nav>
