{{> nav }}

<!-- About Us -->
<div class="row aboutHead">
  <p>About</p>
  <p class="u">U</p><p class="p">p</p><p class="l">l</p><p class="i">i</p><p class="f">f</p><p class="t">t</p>
</div>
<div class="container about-sect background-base shadow p-3 mb-5 rounded col-md-10">
  <div class="row justify-content-center">
    <div class="row card about-card-sect d-flex algin-content-start flex-wrap col-md-8">
      <div class="card-body about-body d-flex algin-content-start flex-wrap">
        
        Uplift is a way to discover, financially support, and endorse black-owned businesses! It was created at the time of the 2020 protests against police 
        brutality and was inspired by the changes made by those who were speaking up and standing up for Black communities.Through our application, we want to continue the conversaton about civil rights. We recognized 
        that the movement extends far beyond police brutality and encompasses decades of racial injustices and we want a continual resource 
        for Black communitities and their allies to use as a tool of betterment.

      </div>
    </div>
  </div>
</div>

{{> scripts }}
{{> footer }}