{{> nav }} 


    <!-- About Us -->
    <div class="container about-sect background-base col-md-10">
        <div class="row justify-content-center">
            <div class="row card about-card-sect d-flex algin-content-start flex-wrap col-md-8">
                <div class="card-body about-body d-flex algin-content-start flex-wrap">
                This is some text within a card body.
                </div>
            </div>
        </div>
    </div>


   <script> src="./js/charity.js"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="js/index.js"></script>

 {{> footer }}