{{> nav }}

<style>
  .footer {
    padding-top: 60px;
  }

  .index {
    padding-bottom: 400px;
  }
</style>

    <!-- Add a business -->
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Business Name</label>
        <input type="email" class="form-control" id="name" aria-describedby="nameOfBusiness" placeholder="Enter a Business">
        <small id="business" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="exampleInputLocation">Location</label>
        <input type="email" class="form-control" id="city" aria-describedby="locationOfBusiness" placeholder="Enter a Business">
        <small id="businessLocation" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Business Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter a Business">
        <small id="Email" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Business Website</label>
        <input type="password" class="form-control" id="website" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Tell Us About This Business</label>
        <input type="password" class="form-control" id="about" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Art Galleries</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Bakeries</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Bars</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Beauty & Spa</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Cafe</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Car Dealerships</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Catering</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Coffee & Tea</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Dessert</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Event Venues</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Food Trucks</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Grocery, Markets & Convenience Stores</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Gyms & Yoga Studios</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Hotel</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Music Venues & Dance Clubs</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Pet Services</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Restaurants</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Shopping</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Wine, Beer, Spirits</label>
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Other</label>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Business Social Media</label>
        <input type="email" class="form-control" id="businessemail" aria-describedby="emailHelp" placeholder="Enter a Business">
        <small id="businessEmail" class="form-text text-muted"></small>
      </div>

      <button type="submit" class="btn btn-primary" id="businessSubmitButton">Submit</button>
    </form>
  


<script> src = "./js/addBusinessess.js"</script>

{{> scripts }}
{{> footer }}