{{> nav}} 
<div class="row">
  <div class="col-6 offset-2">
    <h2>Add a business to display to users</h2>
  </div>
</div>
<!-- Add a business -->
<div class="row">
  <div class="col-6 offset-2">
    <form>
      <div class="form-group">
        <label for="business-name">Business Name (Required)</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameOfBusiness" placeholder="Business Name">
      </div>
      <div class="form-group">
        <label for="business-city">City (Required)</label>
        <input type="text" class="form-control" id="city" aria-describedby="locationOfBusiness" placeholder="City">
      </div>
      <div class="form-group">
        <label for="business-form" class="search-words">Business Category (Required)</label>
        <select class="form-control" id="bus-type" placeholder="Business Type">
          <option value="0">Business Type</option>
          <option value="1">Art Galleries</option>
          <option value="2">Bakeries</option>
          <option value="3">Bars</option>
          <option value="4">Beauty & Spa</option>
          <option value="5">Cafe</option>
          <option value="6">Car Dealerships</option>
          <option value="7">Catering</option>
          <option value="8">Coffee & Tea</option>
          <option value="9">Dessert</option>
          <option value="10">Event Venues</option>
          <option value="11">Grocery, Markets & Convenience Stores</option>
          <option value="12">Gyms & Yoga Studios</option>
          <option value="13">Hotel</option>
          <option value="14">Music Venues & Dance Clubs</option>
          <option value="15">Pet Services</option>
          <option value="16">Restaurants</option>
          <option value="17">Shopping</option>
          <option value="18">Wine, Beer, Spirits</option>
          <option value="19">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="business-phone">Business Phone</label>
        <input type="tel" class="form-control" id="phone" aria-describedby="emailHelp" placeholder="Phone">
      </div>
      <div class="form-group">
        <label for="business-website">Business Website</label>
        <input type="text" class="form-control" id="website" placeholder="Website">
      </div>
      <div class="form-group">
        <label for="business-address">Business Address</label>
        <input type="text" class="form-control" id="address" placeholder="Address">
      </div>
      <div class="form-group">
        <label for="business-twitter">Twitter</label>
        <input type="text" class="form-control" id="twitter" placeholder="Twitter">
      </div>
      <div class="form-group">
        <label for="business-instagram">Instagram</label>
        <input type="text" class="form-control" id="instagram" placeholder="Instagram">
      </div>
      <div class="form-group">
        <label for="business-facebook">Facebook</label>
        <input type="text" class="form-control" id="facebook" placeholder="Facebook">
      </div>
      <button type="submit" class="btn btn-primary" id="businessSubmitButton">Submit</button>
  </div>
</div>

</form>

{{> scripts }}
<script type="text/javascript" src="js/addBusinesses.js"></script>
{{> footer }}