{{> nav }}

<!-- Non-Profits We Endorse -->

<div class="charHead">
  <h2 class="charText">Non Profits for Civil Rights, Social Action, and Advocacy for African Americans</h2>
</div>


<div class="row row-cols-1 row-cols-md-2" id="append-charities">
  {{!-- <div class="col mb-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div> --}}
</div>




<!-- Look for a Charity -->

{{!-- <div>
  <h2>Non-Profits We Endorse</h2>
</div>

<div class="card">
  <h5 class="card-header">Other Non-Profit</h5>
  <div class="card-body">
    <h5 class="card-title">/h5>
    <p class="card-text">Click below to see a comprehensive list of non-profits that are doing wonderful work in civil rights. </p>
    <a href="#" class="btn btn-primary">Search</a>
  </div>
</div> --}}

{{> scripts }}
<script type="text/javascript" src="js/charity.js"></script>
{{> footer }}