{{> nav }}

<!-- Non-Profits We Endorse -->






<!-- Look for a Charity -->

<div class="card">
  <h5 class="card-header">Other Non-Profit</h5>
  <div class="card-body">
    <h5 class="card-title">/h5>
    <p class="card-text">Click below to see a comprehensive list of non-profits that are doing wonderful work in civil rights. </p>
    <a href="#" class="btn btn-primary">Search</a>
  </div>
</div>



<script> src = "./js/charity.js"</script>
{{> scripts }}

{{> footer }}