{{> nav }}
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
    <div class="col-12 col-md-4 col-offset-3">
      <a class="nav-link" id="addBus" href="/addBusiness">
        <h2>Add A Business</h2>
      </a>
    </div>
  </div>
  <div class="col-12 col-offset-3" id="append-businesses">
    <h2>Your businesses:</h2>
  </div>
</div>

{{> scripts }}
<script type="text/javascript" src="js/members.js"></script>
{{> footer }}