form.signup,
form.login {
  margin-top: 50px;
}

.index {
  background-color: #935934;
}

.navbar {
  background-color: #FEE4D7;
  margin-bottom: 30px;
}

.nav-link {
  color: #935934;
}

.nav-link:hover {
  color: #553827
}

.navbar-toggler {
  border: solid #935934;
  color: #553827
}

.fas {
  justify-content: center;
  padding-top: 4px;
  color: #553827;
}

.btn {
  border: solid #935934;
  color: #935934;
}

#loginSignUp {
  border: solid #935934;
  padding: 5px;
  border-radius: 25px;
}

#loginSignUp:hover {
  background-color: #935934;
  color: #FEE4D7;
}

.submit {
  justify-content: center;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #935934;
  color: #FEE4D7;
}

.background-base {
  background-color: #E6A17D;
}

.sPhrase {
  text-align: center;
  justify-content: center;
  color: #553827
}

.search-card {
  justify-content: center;
}

.search-card-c {
  justify-content: center;
  background-color: #FEE4D7;
}

.search-words {
  color: #553827;
}

.b-card-sect {
  background-color: #E6A17D;
}

.b-card {
  margin: 2px;
  justify-content: center;
  padding: 5px;
}

.card-img-top {
  justify-content: center;
}

.about-sect {
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-card-sect {
  justify-content: center;
  background-color: #FEE4D7;
}

.about-body {
  justify-content: center;
}

.footer {
  text-align: center;
  background-color: #FEE4D7;
  color: #553827;
  /* margin-top: 40px; */
  padding: 10px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.foot-link {
  color: #553827
}

.fab {
  padding: 2px;
}

/* News and Events */
/* ---------------------------------- */
h1 {
  margin-bottom: 1.5rem;
  color: #4A5568;
}

h1:hover {
  cursor: pointer;
}

#dropdownMenuButton {
  background-color: #EDF2F7;
  border: solid #4A5568 1px;
  color: #2B6CB0;
}

.article-image {
  width: 6rem;
}

.article-title {
  color: #2B6CB0;
  font-weight: bold;
}

.article-date {
  color: #A0AEC0;
  font-size: small;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.article-description {
  color: #2D3748;
}

.article-link, .fas {
  color: #A0AEC0;
}

.calendar-box {
  width: 20%;
  background-color: #2D3748;
  color: white;
  margin-right: 2rem;
  border-radius: 8%;
  font-weight: bold;
  display: inline-block;
  height: 6rem;
  line-height: 6rem;
  vertical-align: 3rem;
  font-size: 2rem;
  overflow: hidden;
}
/* ---------------------------------- */
/* News and Events */
